# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ project files
.idea/
*.iml
*.iws

# Visual Studio Code files
.vscode/

# Flutter/Dart build and tool files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbol files
*.pdb
